@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Обнуление стилей */
* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
}

/* Стили для шапки */
.header {
  background-color: #fff;
}

.logo {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  line-height: normal;
  display: flex;
  align-items: center;
}

.logo span {
  color: #f25822;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  line-height: normal;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding-top: 51px;
  align-items: center;
}

.nav-links {
  width: 533px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.home-link {
  color: #f25822;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: 600;
  font-family: "Gilroy", sans-serif;
}

.nav-link {
  color: #000;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  white-space: nowrap;
}

/* Стили для главного контента */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 163px 0;
  width: 100%;
  background-color: #fff;
}

.hero-content {
  flex: 1;
}

.hero-content,
.hero-image {
  height: 375px;
}

h1 {
  color: #000;
  font-size: 60px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
}

.hero-content p {
  margin-bottom: 30px;
  color: #888;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
}

.hero-actions {
  margin-bottom: 30px;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
}

.btn-primary {
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
}

.btn-secondary {
  color: #aaa;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Стили для логотипов партнёров */
.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 97px 0;
}

.partner-logo {
  flex: 1;
  text-align: center;
}

.partner-logo img {
  max-width: 100%;
  height: auto;
}

/* Стили для секции с тремя преимуществами */

.features {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 100px 0;
  gap: 60px;
  background-color: #fff;
}

.feature {
  width: 33%;
  padding: 20px;
}

.feature:nth-of-type(2) {
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.feature img {
  width: 80px;
  margin-bottom: 20px;
}

.feature h3 {
  color: #000;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.feature p {
  color: #666;
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.read-more {
  color: #000;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  text-decoration: none;
  font-size: 11px;
  font-style: normal;
  line-height: 150%;
}

/* Стили для секции "Почему стоит выбрать нас" */

.why-choose-us {
  background-color: #fff;
}
.why-choose-us-text {
  background-color: #fff;
  padding-top: 92px;
  padding-bottom: 54px;
}

.why-choose-us h2 {
  color: #000;
  text-align: center;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 19px;
}

.why-choose-us p {
  color: #aaa;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* Стили для блоков с предложениями внутри секции */
.offers {
  display: flex;
  justify-content: space-around;
}

.offer:nth-of-type(2) {
  background: #fff;
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.offer {
  width: calc(33% - 40px);
  margin: 20px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer img {
  flex: 1;
  text-align: center;
  max-width: 100%;
}

.offer h3 {
  color: #000;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 10px;
}

.offer p {
  color: #aaa;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}

.learn-more {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: background-color 0.3s;
  background-image: url("img/BG.svg");
  background-size: cover;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.learn-more::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 10px;
  background-image: url("img/icon2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}
